@import url('https://fonts.googleapis.com/css?family=Maitree|Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
body{
    border:solid #deb887 thick;
    background-color:rgb(105, 241, 214)!important;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-color:#E0FFF9!important;
    border-radius: 10px;
    height:100px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Maitree', serif!important;
    font-weight: 700!important;
}
.card{
    background-color:#f7f7f7;
    max-height:max-content;
    border-radius: 5px;
}

.card:hover{
    background-color:rgb(229, 242, 253);
    
    transition: .2s;
}
h1:hover:after{

content: '\1F342';
display: inline-block;
margin-right:10px;

}
.plant-type, .family-name, .water-needs, .associated-wildlife, .ssc{
    display:none;
   
}
.latin-name, .bloomtime, .flowercolor, .maturity, .cap, .communities, .soil{
    display:none;
   
}
.pruning, .habitat, .stormwater, .al, .nurseries{
    display:none;
   
}

.sidebar-section {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  
  .sidebar-item {
      
      position: absolute;
      top: 10;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:#E0FFF9!important;

     

     
      
  }
  
  
  .make-me-sticky {
    position: -webkit-sticky;
      position: sticky;
      top: 0;
      
    padding:10px;
  }
  label{
text-transform: uppercase;
font-family: 'Maitree', serif!important;
font-size:1em;
font-weight: 700;

  }

.p-color1{
color:forestgreen;

}
.p-color2{
    color:black;
    
}
.p-color3{
    color:blue;
    
}
.p-color4{
    color:brown;
}
.p-color5{
    color:orangered;
    
}
  input[type='checkbox']{
      background-color:burlywood!important;
      float:right;
  }